<div class="container" >
{{> post-info post}}
</div>

{{#if loggedIn}}
<div class="container">
<form class="comment-form">
  <div>
    <textarea name="comment-body" placeholder="Enter your comment here!"></textarea>
  </div>

  <div>
    <button type="submit button" class="login btn btn-primary">Add a Comment!</button>
    
  </div>
</form>
</div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}